.App {
  text-align: center;
}

.App-header,
.App-footer {
  background-color: #282c34;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  box-shadow: 0px 0px 3px #fff222;
}
.App-header {
  display: flex;
  border-bottom: 2px solid #fff222;
  flex-direction: column;
}

.App-footer {
  padding: 30px;
  position: relative;
  bottom: 0px;
  left: 0px;
}

.search-box {
  padding: 10px;
  margin-top: 15px;
  width: 50%;
}
@media (max-width: 800px) {
  .search-box {
    width: 80%;
  }
  .card {
    width: 80% !important;
    min-height: auto !important;
    padding: 10px;
  }
  .title {
    font-size: 30px;
  }
}
.card {
  cursor: pointer;
  padding: 15px;
  width: 400px;
  min-height: 170px;
  display: inline-block;
}
.card-wrapper:hover {
  transform: scale(1.02);
  background-color: #282c34;
  box-shadow: 0px 0px 6px #fff222;
  color: #fff;
  border: 2px solid #fff222;
}
.card-wrapper:hover .upvote-img {
  filter: invert(100%);
}
.footer {
  cursor: default;
  color: inherit;
  font-size: 25px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 15px;
}
.upvote-img {
  height: 20px;
  width: 20px;
  margin-right: 3px;
}
.card-wrapper {
  display: inline-block;
  border: 2px solid #282c34;
  margin: 20px;
  border-radius: 12px;
  transition: all linear 100ms;
}
